:root{
    --pri:#201f1f;
    --sec:#7d5a50;
    --tri1:#e5b299;
    --tri2:#b4846c;
}   
@font-face {
    font-family: aeonika;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonika;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonika;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--pri);
    font-family: aeonika;
    font-weight: 500;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:var(--sec);
    font-size: 44px;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40x;
    padding-top: 80px;
    background-color: var(--tri1);
}